[defaults]
inventory = inventory.ini
roles_path = ./roles
stdout_callback = default
callbacks_enabled = timer, profile_tasks
interpreter_python = auto_silent

[callback_default]
result_format = yaml

[privilege_escalation]
become = False
become_method = sudo
become_user = root
become_ask_pass = True

